@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pixel';
    src:  url('./fonts/Minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  h1{
    font-family: 'Pixel', sans-serif;
    font-size: 3em; /* Beispiel für eine größere Schriftgröße */
    margin-block-start: 0.5em; /* Beispiel für einen kleineren oberen Rand */
    margin-block-end: 0.5em; /* Beispiel für einen kleineren unteren Rand */
    color: #333; /* Beispiel für eine andere Textfarbe */
    font-weight: bold; /* Beispiel für ein normales Schriftgewicht */
  }

  .dark h1{
    color: #fff;
  }

  .light h1{
    color: #333;}

  h2 {
    font-size: 1.5em; /* Beispiel für eine größere Schriftgröße */
    margin-block-start: 0.5em; /* Beispiel für einen kleineren oberen Rand */
    margin-block-end: 0.5em; /* Beispiel für einen kleineren unteren Rand */
    color: #333; /* Beispiel für eine andere Textfarbe */
    font-weight: bold; /* Beispiel für ein normales Schriftgewicht */
  }

  .dark h2{
    color: #fff;
  }

  .light h2{
    color: #333;
  }

  h3 {
    font-size: 1.17em; /* Beispiel für eine größere Schriftgröße */
    margin-block-start: 0.5em; /* Beispiel für einen kleineren oberen Rand */
    margin-block-end: 0.5em; /* Beispiel für einen kleineren unteren Rand */
    color: #333; /* Beispiel für eine andere Textfarbe */
    font-weight: bold; /* Beispiel für ein normales Schriftgewicht */
  }

  .dark h3{
    color: #fff;
  }

  .light h3{
    color: #333;
  }

  h4 {
    font-size: 1.1em; /* Beispiel für eine größere Schriftgröße */
    margin-block-start: 0.5em; /* Beispiel für einen kleineren oberen Rand */
    margin-block-end: 0.5em; /* Beispiel für einen kleineren unteren Rand */
    color: #333; /* Beispiel für eine andere Textfarbe */
    font-weight: bold; /* Beispiel für ein normales Schriftgewicht */
  }

  .dark h4{
    color: #fff;
  }

  .light h4{
    color: #333;
  }

  h5 {
    font-size: 1.05em; /* Beispiel für eine größere Schriftgröße */
    margin-block-start: 0.5em; /* Beispiel für einen kleineren oberen Rand */
    margin-block-end: 0.5em; /* Beispiel für einen kleineren unteren Rand */
    color: #333; /* Beispiel für eine andere Textfarbe */
    font-weight: bold; /* Beispiel für ein normales Schriftgewicht */
  }

  .dark h5{
    color: #fff;
  }

  .light h5{
    color: #333;
  }

  h6 {
    font-size: 1em; /* Beispiel für eine größere Schriftgröße */
    margin-block-start: 0.5em; /* Beispiel für einen kleineren oberen Rand */
    margin-block-end: 0.5em; /* Beispiel für einen kleineren unteren Rand */
    color: #333; /* Beispiel für eine andere Textfarbe */
    font-weight: bold; /* Beispiel für ein normales Schriftgewicht */
  }

  .dark h6{
    color: #fff;
  }

  .light h6{
    color: #333;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }
  li {
    display: list-item;
  }

  table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
  } 

  thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;
}

